<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Pondok Pesantren Miftahul Huda</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico">
</head><!--/head-->

<body style="background-color: #1e741b;">
  
  <div class="container" align="center" style="margin-top: 80px;">
    <a href="index.html"> <img class="img-responsive" src="images/logo.png" width="500" ></a>
  </div>

  <section id="contact">
    <div class="container responsive">
      <div class="single-table wow fadeInUp col-sm-4 col-sm-offset-4" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2 style="color: white;">DAFTAR LOGIN</h2>
            <hr width="100">
          </div>
          <div class="text-center col-sm-10 col-sm-offset-1">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">                
                    <div class="form-group">
                      <input type="text" name="nama" class="form-control" placeholder="Nama Lengkap" required="required" >
                    </div>
                    <div class="form-group">
                      <input type="text" name="asal_sekolah" class="form-control" placeholder="Asal Sekolah" required="required">
                    </div>
                    <div class="form-group">
                      <input type="Password" name="username" class="form-control" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                      <input type="text" name="password" class="form-control" placeholder="Password" required="required" >
                    </div>
                    <div class="form-group">
                      <input type="text" name="nama_ortu" class="form-control" placeholder="Nama Orang Tua/ Wali" required="required">
                    </div>
                    <div class="form-group">
                      <input type="text" name="no_hp" class="form-control" placeholder="No Handphone" required="required">
                    </div>
                    <div class="form-group">
                      <div class="col-sm-6">
                          <a href="login.html">
                          <button type="button" class="btn-submit" style="background-color: #027fcc;">BATAL</button></a>
                        </div>
                      <div class="col-sm-6">
                          <button type="submit" class="btn-submit" style="background-color: #027fcc;">DAFTAR</button>
                      </div>
                  </div>
                </div>
              </form> 
          </div>
        </div> 
      </div>
      
  </section><!--/#services-->

     
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>